<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>添加音乐</title>
  <script src="./add.js"></script>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container my-4">
    <h1>添加音乐到曲库</h1>
    <ul class="list-group mb-2" id="music-list">暂时还没有添加音乐文件</ul>
    <button type="button" class="btn btn-outline-primary btn-lg btn-block mt-4 open-music-file">选择音乐</button>
    <button type="button" class="btn btn-primary btn-lg btn-block mt-4 add-music-file">导入音乐</button>
  </div>
</body>
</html>